.idea/
.venv/
allure-results/
dist/
build/
.claude/
**/__pycache__
**/.pytest_cache
**/*.egg-info
pytest.xml
.coverage
pytest-coverage.txt
*.py-e
**/.setup-scripts/
allure-results/
icon/*.iconset/
logs/
ppdg3r*.xml
.DS_Store
